.header {
  @apply mx-auto;
  @apply bg-raisin;
  @apply text-white;

  &-nvabar {
    display: block;

    a {
      text-decoration: none;
      text-transform: uppercase;
      // color: $white;
      // border-left: 2px solid $white;

      &:hover {
        // color: $red;
        font-weight: 700;
      }

      &:first-child {
        border-left: none;
      }
    }
  }
}