/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

@import 'fonts.css';
@import 'header.css';
@import 'products.css';
@import 'carousel.css';



.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* IE 10+ */
}


/* CAROUSELS */
.slick-next:before,
.slick-prev:before {
  content: none !important;
}

@media only screen and (min-width: 768px) {
  .slick-next { right: -2rem !important; }
  .slick-prev { left: -2rem !important; }
}